*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://i.postimg.cc/mDTm77sG/panaderia.jpg");
    background-size: cover;
}


.contenedor-formulario{
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0,0,0,.1);
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
    margin: 10px;
}

.informacion{
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: burlywood;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.info-datos{
    width: 100%;
    padding: 0 30px;
}

.info-datos h2{
    font-size: 2.5rem;
    color:#333;
}
.info-datos p{
    margin: 15px 0 ;
    color:#555
}

.info-datos input{
    background-color: transparent;
    outline: none;
    border: solid 2px #b37e0e;
    border-radius: 20px;
    padding: 10px 20px;
    color:#b37e0e;
    cursor: pointer;
    transition: background-color .3s ease;
}

.info-datos input:hover{
    background-color:#b37e0e ;
    border: none;
    color:#fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.formulario-crear{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f8f8f8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
} 

.formulario-crear-datos{
    padding: 0 30px;
}

.formulario-crear-datos h2{
color: #333;
font-size: 2rem;
}

.formulario-crear-datos p{
    color: #333;
}

.iconos{
    margin: 15px 0;
}

.iconos i {
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #b37e0e;
    border: solid thin #b37e0e;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.iconos i:hover{
    background-color: burlywood;
    color: #fff;
}

.form{
    margin: 30px 0 0 0;
}

.form label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.form label input{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}

.form label i{
    color: #a7a7a7;
}

.form input[type="button"]{
    background-color: #b37e0e;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.form input[type ="button"]:hover{
    background-color: burlywood;
}

.hide{
    position: absolute;
    transform: translateY(-300%);
}


.formulario-crear a{
    display: block;
    margin-top: 8px;
    text-decoration: none; /* Para eliminar el subrayado predeterminado */
    color: #b37e0e; /* Color del texto */
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 13px; /* Tamaño del texto */
    font-family: 'Montserrat', sans-serif; /* Fuente del texto */
}




@media screen and (max-width:750px){
    html{
        font-size: 12px;
    }
}

@media screen and (max-width:580px){
    html{
        font-size: 10px;
    }
    .contenedor-formulario{
        height: auto;
        flex-direction: column;
    }

    .informacion{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0;
    }

    .formulario-crear{
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
    }
}







